html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* تأكد من وضع الخلفية خلف كافة العناصر الأخرى */
}

.wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  perspective: 360px; /* تغيير المتغير المناسب إن لزم الأمر */
  perspective-origin: 50% 50%;
}

.top-plane, .bottom-plane {
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(#e0e0e0 25%, #ffffff 50%, #ffffff 50%, #e0e0e0 100%);
  background-size: 100px 100px, 100px 100px;
  animation: planeMove 2s infinite linear;
}

.top-plane {
  top: -50%;
  transform: rotateX(85deg);
}

.bottom-plane {
  bottom: -50%;
  transform: rotateX(-85deg);
}

@keyframes planeMove {
  0% {
    background-position: -100px -100px, 0 0;
  }
  100% {
    background-position: 0 0, 100px 100px;
  }
}

header {
  width: 100%;
  background-color: #84828d;
  padding: 10px 0;
  border-radius: 1000px; 
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(7px);
  border-radius: 50px;
}

.mainbox {
  box-sizing: border-box;
  position: relative;
  width: 230px;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.checkbox:checked ~ .mainbox {
  width: 50px;
}

.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0;
}

.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8px;
}

.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}

.search_input {
  box-sizing: border-box;
  height: 100%;
  width: 170px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease;
}

.search_input::placeholder {
  color: rgba(255, 255, 255, 0.776);
}

.iconContainer {
  box-sizing: border-box;
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
}

.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1.3em;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  width: 300px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  color: #555;
  font-size: 14px;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #84828d;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(255, 255, 255, 0) 10.8%,
    rgba(39, 39, 41, 0.8) 94.3%
  );
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.button .hidden-link {
  display: none;
}
